.preloader {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100dvh;
  background-color: var(--color-dark-1);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  color: var(--color-light-1);
  pointer-events: none;
  animation: removeBackground 1s forwards 4.5s;
}

.preloader > .preloader__content {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

/* Preloader Header */
.preloader > .preloader__content > .preloader__header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  z-index: 1001;
  animation: removeContent 2s forwards 3.5s;
}

.preloader > .preloader__content > .preloader__header > h2 {
  font-weight: 300;
  letter-spacing: 2px;
}

.preloader > .preloader__content > .preloader__header > h1 {
  font-family: "BonvenoCF";
  letter-spacing: 5px;
}

/* Preloader Counter */
.preloader > .preloader__content > .preloader__counter {
  font-size: 1.2rem;
  z-index: 1001;
  animation: removeContent 2s forwards 3.5s;
}

/* Preloader Box */
.preloader > .preloader__content > .preloader__box {
  position: absolute;
  background-color: var(--color-dark-1);
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
  border: 1px solid transparent;
  z-index: 1000;
  transition: transform 0.3s ease; /* Smooth transition for scaling */
  pointer-events: none;
  transform-origin: center;
}

.preloader > .preloader__content > .preloader__box::before,
.preloader > .preloader__content > .preloader__box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-light-1);
  pointer-events: none;
  transition: border-radius 250ms ease-in-out;
}

.preloader > .preloader__content > .preloader__box.cursor::before,
.preloader > .preloader__content > .preloader__box.cursor::after {
  border: 3px solid var(--color-light-1);
  border-radius: 50%;
}

.preloader > .preloader__content > .preloader__box::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
  width: 0;
  height: 0;
  animation: borderAnimation1 1.5s forwards, borderRotate 1s forwards 1.8s;
}

.preloader > .preloader__content > .preloader__box::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
  width: 0;
  height: 0;
  animation: borderAnimation2 1.5s forwards, borderRotate 1s forwards 1.8s;
}

@keyframes borderAnimation1 {
  0% {
    width: 0;
    height: 0;
  }
  25% {
    width: 25%;
    height: 25%;
  }
  75% {
    width: 90%;
    height: 90%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes borderAnimation2 {
  0% {
    width: 0;
    height: 0;
  }
  25% {
    width: 25%;
    height: 25%;
  }
  75% {
    width: 90%;
    height: 90%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes borderRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes removeContent {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

@keyframes removeBackground {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
