.preloader {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100dvh;
  background-color: var(--color-dark-1);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  color: var(--color-light-1);
  pointer-events: none;
  animation: removeBackground 1s forwards 4.5s;
  overflow: hidden;
}

.preloader > .preloader__content {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

/* Preloader Header */
.preloader > .preloader__content > .preloader__header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 1001;
  animation: removeContent 1s ease-out forwards 2.3s;
}

.preloader > .preloader__content > .preloader__header > h2 {
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 2px;
}

.preloader > .preloader__content > .preloader__header > h1 {
  font-family: "Forum";
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.preloader > .preloader__content > .preloader__header > h1 > span {
  font-family: "Forum";
  font-size: 4rem;
}

/* Preloader Counter */
.preloader > .preloader__content > .preloader__counter {
  font-family: "Forum";
  font-size: 1rem;
  z-index: 1001;
  animation: removeContent 1s ease-out forwards 2.3s;
}

@keyframes removeContent {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}

@keyframes removeBackground {
  100% {
    background-color: transparent;
  }
}

@media only screen and (max-width: 768px) {
  .preloader > .preloader__content > .preloader__header > h1 > span {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 425px) {
  .preloader > .preloader__content > .preloader__header > h1 > span {
    font-size: 4rem;
  }
  .preloader > .preloader__content > .preloader__header > h1 {
    flex-direction: column;
  }
}

@media only screen and (max-width: 375px) {
  .preloader > .preloader__content > .preloader__header > h1 > span {
    font-size: 3rem;
  }
}
